input[type=text],
input[type=password] {
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input[type=submit] {
	width: 35%;
	padding: 6px 12px 6px 12px;
	margin: 18px 10px;
	box-sizing: border-box;
	padding-right: 10px;
	font-size: 25px;
	border-radius: 20px;
}
.fade {
	background-color: #00a5cf;
	color: #fff;
	transition: background-color 1s;
}

.fade:hover {
	background-color: #7ae582;
}

.fade:focus,
.fade:active {
	background-color: black;
	transition: none;
}
input[type=reset] {
	width: 35%;
	padding: 6px 12px 6px 12px;
	margin: 18px 10px;
	box-sizing: border-box;
	padding-right: 10px;
	font-size: 25px;
	border-radius: 20px;
}
.dade {
	background-color: #ff4d6d;
	color: #fff;
	transition: background-color 1s;
}

.dade:hover {
	background-color: #c9184a;
}

.dade:focus,
.dade:active {
	background-color: black;
	transition: none;
}

.iss {
	padding: 10px 10px 10px 10px;
}
body {
	background-image: url("https://images.unsplash.com/photo-1436262513933-a0b06755c784?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NTZ8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
	background-repeat: no-repeat;
	background-size: 1600px 750px;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	max-width: max-content;
	margin: auto;
}

.isd {
	font-style: normal;
	font-weight: bold;
	font-size: xx-large;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding-bottom: 30px;
}
table,
tr,
td {
	color: black;
	width: 250px;
	table-layout: fixed;
	height: 80px;
	font-size: 30px;
	text-align: center;
}
